@model DataAccessLayer.DTO.CreateEditTaskDTO

 <div class="modal-content">
     <form id="task-form" method="post">
        <input type="text" asp-for="Title" class="task-title" placeholder="What are your plans?" />
        <textarea asp-for="Description" class="resizable-textarea" class="task-description" rows="4" cols="20"></textarea>
        <label for="complete-by-date">Complete By Date:</label>
        <input asp-for="CompleteByDate" type="date" class="complete-by-date"/>
        <input type="submit" id="task-submit" value="Add task" />
        <input type="reset" id="reset-form" value="Clear" />
     </form>
 </div>

            









